<footer class="bg-dark text-white pt-4 pb-2 mt-5">
    <div class="container text-center text-md-start">
      <div class="row">
        <!-- Columna 1 -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Mi Sitio</h5>
          <p>Gracias por visitarnos. Aquí encontrarás recursos, guías y más.</p>
        </div>
  
        <!-- Columna 2 -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
            <li><a href="#" class="text-white text-decoration-none">Acerca de</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
          </ul>
        </div>
  
        <!-- Columna 3 -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Síguenos</h5>
          <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  
    <div class="text-center mt-3">
      <small>&copy; 2025 TuNombre. Todos los derechos reservados.</small>
    </div>
  </footer>
  